#content {
  margin-top: 2.7em;
  margin-bottom: 7em;
  > *, > p {
    margin: 2.3em auto;
    line-height: 1.8;
  }
  h2,  h3,  h4,  h5,  h6 {
    margin-top: 1.8em;
    margin-bottom: 1.7em;
    padding-top: 0.7em;
    font-weight: bold;
    line-height: 1.25;
  }
  h2 {
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-bottom: 0.3em;
    border-bottom: solid 1.3px #e0e0e0;
    font-size: 1.57em;
  }
  h3 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    font-size: 1.27em;    
  }
  h4 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    font-size: 1.14em;    
  }
  h5 {
    font-size: 1.09em;    
  }
  h6 {
    font-size: 1.05em;
  }
  ul, ol {
    padding-left: 2.222em;
    @include tablet {
      padding-left: 1.3em;
    }
  }
  ul {
    li {
      list-style: disc;
    }
  }
  ol {
    li {
      list-style: decimal;
      padding-left: 0.7em;
    }
  }
  li {
    margin: 0.2em;
  }
  code {
    margin: auto 0.37em;
    padding: 0.09em 0.5em 0.13em;
    vertical-align: 0.05em;
    color: #54514f;
    font-size: 0.85em;
    line-height: 1;
    font-family: Consolas, Monaco, Menlo, monospace;
    border-radius: 5px;
    background-color: #f3efec;
  }
  pre {
    code {
      margin: 0;
      padding: 0;
      vertical-align: baseline;
      background-color: initial;
    }
    &:focus-visible {
      outline: none;
    }
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 400px;
    margin: auto;
    border-radius: 3px;
    &.win11_ss {
      border-radius: 8px !important;
    }
    ~ em {
      display: block;
      margin: 3px auto;
      padding: 0.1em 0 0;
      color: #908e8d;
      font-size: 0.8em;
      line-height: 1.5;
      text-align: center;
    }
    @include mobile {
      max-height: none;
    }
  }
  blockquote {
    margin: 2.7em auto;
    padding: 0.1em 0 0.5em 1.5em;
    color: #6d6d6d;
    border-left: 5px solid #c1bdb8;
  }
  hr {
    width: 97%;
    margin: 3.3em auto 2.3em auto;
    border-color: #f5ebdc;
    border-top-width: 5px;
    border-top-style: dotted;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }
  table {
    width: 99%;
    max-width: 100%;
    font-size: 0.87em;
    border: solid 2.3px #f0eae1;
    border-spacing: 0;
    border-collapse: collapse;
    th,
    td {
      border: 1px solid #eeeeee;
      padding: 6px;
    }  
  }
  thead {
    background-color: #fffaf5;
    tr {
      th {
        border: solid 1.7px #f0eae1;
      }
    }
  }
  tbody tr td {
    border: 1.3px dashed #bfbfbf;
  }
  .color-red {
    color: #ff5151;
  }
  .box-common {
    position: relative;
    padding: 3em 1.5em 0.6em;
    color: #666666;
    font-size: 0.95em;
    border: solid 2.7px #f1f1f1;
    border-radius: 11px;
    &::before {
      position: absolute;
      display: inline-block;
      top: 0.777em;
      left: 0;
      right: 0;
      margin: auto;
      padding: 0;
      width: 27px;
      height: 27px;
      font-size: 27px;
      font-weight: 900;
      line-height: 27px;
      border-right: none;
    }
    > * {
      margin: 0.7em auto;
    }
    img {
      margin: 1.5em auto;
    }
    .blogcard img {
      margin: 0;
    }
    & > ul,
    & > ol {
      padding-left: 1.3em;
    }
    blockquote {
      margin: 1.5em auto;
    }
  }
  .box-info {
    background-color: #fffaf0;
    &::before {
      content: "";
      mask: url("@/assets/svgs/info.svg");
      mask-size: cover;
      background-color: #e5d187;
    }  
  }
  .box-alert {
    background-color: #fff7f6;
    &::before {
      content: "";
      mask: url("@/assets/svgs/alert.svg");
      mask-size: cover;
      background-color: #f6a2a2;
    }
  }
  .box-rewrite {
    background-color: #fafff6;
    &::before {
      content: "";
      mask: url("@/assets/svgs/edit.svg");
      mask-size: cover;
      background-color: #9bbc7e;
      top: 1em;
      width: 23px;
      height: 23px;
      font-size: 23px;
      line-height: 23px;
    }
  }
  .rewrite-date {
    color: #9bbc7e;
    font-weight: bold;
  }
  a.blogcard {
    display: block;
    text-decoration: none;
    &:hover .blogcard {
      background-color: #f6f0eb;
    }
    .blogcard {
      display: flex;
      padding: 0 1em 0 0;
      height: 120px;
      background-color: #fffcf9;
      border: solid 1px #e6e0d7;
      border-radius: 8.8px;
      transition: 0.23s all ease-out;
      .thumbnail {
        width: 228.5px;
        min-width: 228.5px;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          flex-shrink: 0;
          border-radius: 8.8px 0 0 8.8px;
        }
        @include mobile {
          width: 90px;
          min-width: 90px;
          height: auto;
        }
        &.github {
          @include mobile {
            width: 174px;
            min-width: 174px;
          }              
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1.3em;
        .title {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          margin-bottom: -0.1em;
          color: var(--color-text);
          font-size: 0.93em;
          font-weight: bold;
          line-height: 1.3;
        }
        .snippet {
          display: -webkit-box;
          margin-top: 0.3em;
          max-height: 1.6em;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
          color: #959595;
          font-size: 0.77em;
        }
        .footer {
          display: flex;
          margin-top: 0.7em;
          font-size: 0.7em;
          color: #4e4e4e;
          .favicon {
            margin: 0 5px 0 0;
            line-height: 1.9;
            img {
              display: inline-block;
              height: 1em;
              margin-bottom: 1px;
            }
          }
        }
        @include mobile {
          font-size: 0.84em;
        }
      }
      @include mobile {
        height: 90px;
      }
    }
  }
  .key {
    margin: auto 0.5em;
    padding: 0.27em 0.39em;
    border-radius: 5px;
    font-family: monospace;
    font-weight: bold;
    font-size: 0.7em;
    color: #555;
    background-color: #f9f9f9;
    border: solid 1.57px #bbb;
    box-shadow: 0.3px 0.8px 2px rgb(0 0 0 / 11%);
  }
}
