pre[class*="language-"] {
  display: block;
  padding: 1.3em 1.7em 1.5em;
  overflow-x: auto;
  background: #2c2d3a;
  line-height: 1.6 !important;
  border-radius: 11px;
  white-space: pre;
  @include mobile {
    padding: 1.3em 1.1em 1.5em;
  }
  code {
    color: #f3f3f3 !important;
    font-size: 0.85em;
    line-height: 1.6;
    font-family: Consolas, Monaco, Menlo, monospace;
  }
  .token.keyword,
  .token.annotation {
    color: #66d9ef;
  }
  .token.builtin {
    color: #66d9ef;
    font-style: italic;
  }
  .token.attr-name,
  .token.class-name,
  .token.decorator,
  .token.function {
    color: #b6e557;
  }
  .token.tag {
    color: #f2b18f;
    .token.punctuation {
      color: #f3f3f3;
    }
  }
  .token.punctuation {
    color: #938e8c;
    &.decorator {
      color: #b6e557;
    }
  }
  .token.number,
  .token.boolean {
    color: #ae81ff;
  }
  .token.operator {
    color: #dc8ba8;
  }
  .token.parameter {
    color: #f2b18f;
    font-style: italic;
  }
  .token.attr-value,
  .token.string {
    color: #f0e57f;
  }
  .token.attr-value {
    .token.punctuation {
      color: #f0e57f;
    }
    .token.attr-equals {
      color: #f3f3f3;
    }
  }
  .token.comment {
    color: #7f888d;
  }
  .token.key.property {
    color: #f2b18f;
  }
  .token.bold {
    font-weight: bold;
  }
  .token.italic {
    font-style: italic;
  }
  &::-webkit-scrollbar {
    height: 15px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 0 0 10px 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0 0 10px 10px;
  }  
}
pre[class*="language-bash"],
pre[class*="language-shell"] {
  .token {
    color: #f3f3f3 !important;
  }
}

// original-nohighlight
pre.language-no {
  padding: 0.77em 1.3em 0.77em 1.3em !important;
  color: #585858 !important;
  font-family: Consolas, Monaco, monospace !important;
  border: 2.3px solid #e9e3de !important;
  border-radius: 7px !important;
  background-color: #fdfbf9 !important;
  box-shadow: none !important;
}

// for failed loading Prism.js
pre {
  overflow-x: auto;
}

// dark mode
.dark {
  pre {
    code {
      background: #2c2d3a !important;
    }
  }
  pre.language-no {
    color: var(--color-text) !important;
    border: 2.3px solid #898683 !important;
    background-color: #585858 !important;
  }
}
